<div class="mainmenu" ng-controller="navigationCtrl">
    <div class="title">Master Data</div>
    <div class="listmenu">
        <ul>
            <li><a ui-sref-active="active" ui-sref="app.master.provider">Provider</a></li>
            <li><a ui-sref-active="active" ui-sref="app.master.departement">Departement</a></li>
            <li><a ui-sref-active="active" ui-sref="app.master.grade">Grade</a></li>
            <li><a ui-sref-active="active" ui-sref="app.master.plan">Plan / Item</a></li>
            <li><a ui-sref-active="active" ui-sref="app.master.icd">Icd</a></li>
            <li><a ui-sref-active="active" ui-sref="app.master.benefit">Benefit</a></li>
        </ul>
    </div>
    <div class="title">Benefit</div>
    <div class="listmenu">
        <ul>
            <li><a ui-sref-active="active" ui-sref="app.benefit.setup">Setup Benefit</a></li>
            <li><a ui-sref-active="active" ui-sref="app.benefit.member">Benefit Member</a></li>
        </ul>
    </div>
    <div class="title">Member</div>
    <div class="listmenu">
        <ul>
            <li><a ui-sref-active="active" ui-sref="app.member.permanent">Employee Permanent</a></li>
            <li><a ui-sref-active="active" ui-sref="app.member.contract">Employee Contract</a></li>
        </ul>
    </div>
    <div class="title">Transaksi</div>
    <div class="listmenu">
        <ul>
            <li><a href="">Klaim Provider</a></li>
            <li><a href="">Karyawan Kontrak</a></li>
            <li><a href="">Plafon Karyawan</a></li>
        </ul>
    </div>
</div>




















































































































































































































































































































































+


































               u